bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.assets.cache
project.assets.json
project.nuget.cache
project.nuget.dgspec.json
project.nuget.g.props
project.nuget.g.targets
*.g.cs
*.generated.cs
*.g.resources
*.g.baml
*.baml
*MarkupCompile*
*.sourcelink.json
*.runtimeconfig.json
*.deps.json
*.runtimeconfig.dev.json
*SourceRootsMapping*
CoverletSourceRootsMapping*
*.FileListAbsolute.txt
*.AssemblyInfoInputs.cache
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyInfo.cs
*.GlobalUsings.g.cs
*.AssemblyAttributes.cs
*.genruntimeconfig.cache
*.Up2Date
Terminal RUN-README.txt